<md-card style="width: {{containerWidth}}" layout="column">
  <md-card-content flex layout="column">

    <!-- Title-->
    <div layout="row" layout-align="center center" layout-padding layout-margin>

      <!-- Logo-->
      <img src="graphics/logo.png" width="50" height="50" alt="Logo"/>

      <!-- Banner-->
      <div flex>
        <span class="md-display-1">RadStat</span>
      </div>

    </div>

    <br/>
    <md-divider></md-divider>
    <br/>

    <!-- Spinner-->
    <div flex ng-if="state == 'loadingUserData' || state == 'uploading'" layout="column" layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      <h2 ng-if="state == 'loadingUserData'">Loading your data</h2>
      <h2 ng-if="state == 'uploading'">Uploading</h2>
    </div>

    <!-- Organizer-->
    <div flex ng-if="state == 'ready'" layout="row" layout-align="center">

      <!-- Side Panel-->
      <div flex="25" layout="column" style="border-right: 2px solid rgba(0,0,0,0.12);" layout-align="start center">

        <h1 class="md-headline">{{data.userData.name}}</h1>
        <span class="md-title">@{{data.userData.username}}</span>

      </div>

      <!-- Main Content-->
      <div flex layout="column" layout-align="center center">

        <!-- Uploader-->
        <md-card>
          <md-card-content ng-if="state == 'ready'" layout="row" layout-sm="column" layout-align="center center">

            <!-- Module Name-->
            <md-input-container>
              <label>Module Name</label>
              <input ng-keypress="uploadEnterHandler($event)" type="text" ng-model="uploader.moduleName" title="Module Name"/>
            </md-input-container>

            <input type="file" id="file" title="File"/>

            <!-- Upload-->
            <md-button ng-if="state == 'ready'" class="md-primary" ng-click="upload($event);">Upload</md-button>

          </md-card-content>
        </md-card>

      </div>

    </div>

  </md-card-content>
</md-card>